// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contient {
  width: 100%;
  display:flex;
  justify-content: space-between;
}

.contient img {
  width:50%;
  height: 50%;
}
